parameters:
    larastanStrictRules:
        allRules: true
        noDynamicWhere: %larastanStrictRules.allRules%
        noFacade: %larastanStrictRules.allRules%
        noGlobalLaravelFunction: %larastanStrictRules.allRules%
        noLocalQueryScope: %larastanStrictRules.allRules%
        noPropertyAccessor: %larastanStrictRules.allRules%
        noValidationInController: %larastanStrictRules.allRules%
        scopeShouldReturnQueryBuilder: %larastanStrictRules.allRules%
        listenerShouldHaveVoidReturnType: %larastanStrictRules.allRules%
    allowedGlobalFunctions: []
    listenerPaths: []

parametersSchema:
    larastanStrictRules: structure([
      allRules: anyOf(bool(), arrayOf(bool())),
      noDynamicWhere: anyOf(bool(), arrayOf(bool())),
      noFacade: anyOf(bool(), arrayOf(bool())),
      noGlobalLaravelFunction: anyOf(bool(), arrayOf(bool())),
      noLocalQueryScope: anyOf(bool(), arrayOf(bool())),
      noPropertyAccessor: anyOf(bool(), arrayOf(bool())),
      noValidationInController: anyOf(bool(), arrayOf(bool())),
      scopeShouldReturnQueryBuilder: anyOf(bool(), arrayOf(bool())),
      listenerShouldHaveVoidReturnType: anyOf(bool(), arrayOf(bool())),
    ])
    allowedGlobalFunctions: listOf(string())
    listenerPaths: listOf(string())

services:
  -
    class: Vural\LarastanStrictRules\Rules\NoDynamicWhereRule
  -
    class: Vural\LarastanStrictRules\Rules\NoFacadeRule
  -
    class: Vural\LarastanStrictRules\Rules\NoGlobalLaravelFunctionRule
    arguments:
      allowedFunctions: %allowedGlobalFunctions%
  -
    class: Vural\LarastanStrictRules\Rules\NoLocalQueryScopeRule
  -
    class: Vural\LarastanStrictRules\Rules\NoPropertyAccessorRule
  -
    class: Vural\LarastanStrictRules\Rules\NoValidationInControllerRule
  -
    class: Vural\LarastanStrictRules\Rules\ScopeShouldReturnQueryBuilderRule
  -
    class: Vural\LarastanStrictRules\Rules\ListenerShouldHaveVoidReturnTypeRule
    arguments:
      listenerPaths: %listenerPaths%

conditionalTags:
    Vural\LarastanStrictRules\Rules\NoDynamicWhereRule:
        phpstan.rules.rule: %larastanStrictRules.noDynamicWhere%
    Vural\LarastanStrictRules\Rules\NoFacadeRule:
        phpstan.rules.rule: %larastanStrictRules.noFacade%
    Vural\LarastanStrictRules\Rules\NoGlobalLaravelFunctionRule:
        phpstan.rules.rule: %larastanStrictRules.noGlobalLaravelFunction%
    Vural\LarastanStrictRules\Rules\NoLocalQueryScopeRule:
        phpstan.rules.rule: %larastanStrictRules.noLocalQueryScope%
    Vural\LarastanStrictRules\Rules\NoPropertyAccessorRule:
        phpstan.rules.rule: %larastanStrictRules.noPropertyAccessor%
    Vural\LarastanStrictRules\Rules\NoValidationInControllerRule:
        phpstan.rules.rule: %larastanStrictRules.noValidationInController%
    Vural\LarastanStrictRules\Rules\ScopeShouldReturnQueryBuilderRule:
        phpstan.rules.rule: %larastanStrictRules.scopeShouldReturnQueryBuilder%
    Vural\LarastanStrictRules\Rules\ListenerShouldHaveVoidReturnTypeRule:
        phpstan.rules.rule: %larastanStrictRules.listenerShouldHaveVoidReturnType%
