parameters:
    allowedGlobalFunctions: []
    listenerPaths: []

parametersSchema:
    allowedGlobalFunctions: listOf(string())
    listenerPaths: listOf(string())

services:
    -
        class: Vural\LarastanStrictRules\Rules\NoDynamicWhereRule
        tags:
            - phpstan.rules.rule
    -
        class: Vural\LarastanStrictRules\Rules\NoFacadeRule
        tags:
            - phpstan.rules.rule
    -
        class: Vural\LarastanStrictRules\Rules\NoGlobalLaravelFunctionRule
        arguments:
            allowedFunctions: %allowedGlobalFunctions%
        tags:
            - phpstan.rules.rule
    -
        class: Vural\LarastanStrictRules\Rules\NoValidationInControllerRule
        tags:
            - phpstan.rules.rule
    -
        class: Vural\LarastanStrictRules\Rules\ScopeShouldReturnQueryBuilderRule
        tags:
            - phpstan.rules.rule

    -
        class: Vural\LarastanStrictRules\Rules\ListenerShouldHaveVoidReturnTypeRule
        arguments:
            listenerPaths: %listenerPaths%
        tags:
            - phpstan.rules.rule