<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true" colors="true" columns="max" executionOrder="random" cacheDirectory=".phpunit.cache" beStrictAboutCoverageMetadata="true">
  <testsuites>
    <testsuite name="Rule tests">
      <directory>./Rules</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../src</directory>
    </include>
  </source>
</phpunit>
